<div class="card">
    <div class="card-header text-center">
        <h4>Devoured Burgers<i class="fas fa-utensils ml-2"></i>

        </h4>
    </div>
    <div class="card-body">
        {{#each devouredList}}
        <div class="row">
            <div class="col">
            <p>{{this.id}}). {{this.burger_name}}</p>  
            </div>
            <div class="col">
            <button class="deleteburger btn btn-sm btn-outline-danger m-1 devour-btn float-right"
                            data-id="{{id}}">DELETE<i class="fas fa-trash-alt ml-1"></i>
                    </button>
               </div>   
          </div>  
          <hr>
        {{/each }}

    </div>
</div>