<nav class="navbar bg-dark">
    <h1>EAT DA BURGER</h1>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
                {{> uneatenBurgers}}
        </div>    
        <div class="col">
          
                {{> eatenBurgers }}
         
        </div>   
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Burger Name" aria-label="Burger Name" id="burgerName">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" id="addBurger">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>